## --- BUILD ---
[Bb]in/
[Oo]bj/
out/
publish/

## --- VISUAL STUDIO ---
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## --- BANCO LOCAL ---
*.mdf
*.ldf
*.db
*.sqlite

## --- SEGREDOS ---
**/secrets.json
appsettings.Local.json

## --- LOGS ---
*.log

## --- SISTEMA ---
.DS_Store
Thumbs.db

## --- TESTES ---
TestResults/
coverage/

## --- PACOTES ---
*.nupkg